<?php
$config['roundcube_2fa_force'] = true;          
$config['roundcube_2fa_backup_codes'] = 6;      
$config['roundcube_2fa_qr_size'] = 200;         
$config['roundcube_2fa_issuer'] = 'Roundcube';
